resources:
- repo: self

queue:
  name: Hosted Ubuntu 1604

steps:
- task: AzureCLI@1
  displayName: 'Azure CLI'
  inputs:
    azureSubscription: 'Azure-Connection-Endpoint'
    scriptLocation: inlineScript
    inlineScript: 'az acr build --registry $(acr_name) --image $(image_name):$(Build.BuildId) ./src/Site.Web/'
